@use "../general" as *;
@use "../mixins/" as *;

.boardColumn {
  display: flex;
  // grid-template-columns: repeat(auto-fill, 250px);
  gap: $sm-space;
  padding: $sm-space;
}

.boardColumnsWrapper {
  transition: 0.5s;
}

.newColumnButtonWrapper {
  display: flex;
  justify-content: center;
  padding-block: $md-space;
  background-color: #d5dadd;
  min-width: 18rem;
  button {
    @include xl-heading($capital: true);
    color: $md-grey;
    background-color: transparent;
    border: none;
  }
}

.statusWrapper {
  display: flex;
  gap: $sm-space - 0.5;
  margin-bottom: $sm-space;
  width: fit-content;
  .statusColor {
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
  }

  p {
    @include sm-heading;
  }
}
