@use "../general" as *;
@use "../mixins" as *;

.cardContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-inline: auto;
  background-color: rgba(211, 211, 211, 0.8);
  z-index: 1;
  inset: 0;
  cursor: pointer;
}

.confirmationWrapper {
  display: grid;
  gap: 1rem;
}
.confirmationTxt {
  h3 {
    color: $red;
    font-family: $font-family;
    margin-bottom: 1rem;
  }
  p {
    font-family: $font-family;
    color: $md-grey;
    margin-bottom: 1rem;
  }
}

.confirmationBtn {
  display: flex;
  gap: 0.5rem;
  button {
    @include btn;
    width: 100%;
  }
  .deleteBtn {
    color: $white;
    background-color: $red;
    &:hover {
      background-color: $red-hover;
    }
    &:focus {
      background-color: $red;
    }
  }
  .cancelBtn {
    color: $primary;
    background-color: $light-bg;
  }
}

.closeBtn {
  background: none;
  border: none;
  font-size: 2rem;
  color: $md-grey;
}

.cardWrapper {
  position: absolute;
  margin-inline: auto;
  margin-block: 10rem;
  left: 0;
  right: 0;
  width: min(720px, 100% - 5rem);
  height: fit-content;
  background-color: $white;
  padding: $md-space;
  border-radius: 6px;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  gap: $sm-space;
  margin-bottom: $sm-space;
  p {
    @include lg-heading;
  }
}

select {
  padding-block: 0.5rem;
  background-color: $white;
  text-transform: capitalize;
  border: none;
  &:active {
    background-color: $white;
  }
}

.createForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: $font-family;
  input {
    width: 100%;
    padding-left: 0.5rem;
    background: $white;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
    padding-block: 0.5rem;
    &:focus {
      border: 1px solid $primary;
      outline: none;
    }
  }
  input[type="submit"] {
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: $primary;
    color: $white;
    padding-block: 0.5rem;
    &:hover {
      background-color: $primary-hover;
    }
    &:focus {
      background-color: $primary;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    background: $white;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
    padding-block: 0.5rem;
    &:focus {
      border: 1px solid $primary;
      outline: none;
    }
  }

  .addBtn {
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: $light-bg;
    color: $primary;
    padding-block: 0.5rem;
    text-transform: capitalize;
    &:hover {
      background-color: $primary;
      color: $light-bg;
    }
    &:focus {
      background-color: $primary-hover;
    }
  }
  .error {
    color: $red;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.details {
  @include lg-body;
  color: $md-grey;
  margin-bottom: $sm-space;
}

.subtaskContainer {
  @include lg-body;
  .taskCount {
    @include lg-body($capital: true);
    margin-bottom: 3rem;
  }
}

.subtaskWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: $md-space;
}

.checkboxWrapper {
  display: flex;
  gap: $sm-space;
  background-color: $light-bg;
  padding: 0.75rem;
  border-radius: 4px;
  &:hover {
    background-color: $primary-hover;
  }
  input[type="checkbox"] {
    accent-color: $primary;
  }
  p {
    @include lg-body;
    color: $black;
  }
  .completed {
    text-decoration: line-through;
    color: $md-grey;
  }
}

.statusContainer {
  @include lg-body($capital: true);
  display: flex;
  flex-direction: column;
  width: 100%;

  ul {
    display: flex;
    width: auto;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    transition: height 3s;
    height: 2.5rem;
    border: 0.5px solid $md-grey;
    cursor: pointer;
    &:hover {
      border: 0.5px solid $primary-hover;
    }
  }
  .open {
    height: auto;
  }
}

// .statusWrapper {
//   display: flex;
//   // justify-content: space-around;
//   align-items: center;
//   width: 100%;
//   padding-right: 1rem;

//   li {
//     margin-block: 0.5rem;
//     padding-left: 1rem;
//   }
// }
