@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

/* colors */
$primary: #635FC7;
$primary-hover: #A8A4FF;
$white: #FFFFFF;
$black: #000112;
$light-bg: #F4F7FD;
$dark-bg: #20212C;
$md-grey: #828FA3;
$dark-grey: #2B2C37;
$light-lines: #E4EBFA;
$dark-lines: #3E3F4E;
$red: #EA5555;
$red-hover: #FF9898;

/* font */
$bold: 700;
$regular: 500;
$font-family: 'Plus Jakarta Sans';

$sm-space: 1.25rem;
$md-space: 2rem;
